
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div> 
        <form action="~/Home/Search" method="post">
            <input type="text" name="productName" placeholder="Nhap ten sp"/>
            <button type="submit">Gui</button>
        </form>
    </div>
</body>
</html>
