
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchB</title>
</head>
<body>
    <div> 
        @{
            var tam = Session["sp"];
        }
        @tam
    </div>
</body>
</html>
