
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <form method="post" action="~/Home/AddProduct">
            <input type="text" name="Name" placeholder="Nhap ten" />
            <input type="number" name="Tien" placeholder="Nhap gia" />
            <input type="submit" value="Nhap gia" />
        </form>
    </div>
</body>
</html>
